<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>First Express</title>
    </head>

    <body>
        <p><code>views/layouts/other-layout.hbs:</code></p>
        <h1>This is the other layout</h1>
        <div class="container">
            {{{body}}}
        </div>
    </body>

</html>
